
html {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
option {
    font-family: 'Courier New', Courier, monospace;
}

select {
    font-family: 'Courier New', Courier, monospace;
}