
.kleuren {
    width: 1200px;
    height: 200px;
    border: 1px blue solid;
    flex-direction: row;

}#blauw {
    display: flex;
    background-color: blue;
    width: 200px;
    height: 200px;
}
#zwart {
    display: flex;
    background-color: black;
    width: 200px;
    height: 200px;
}

