html {
  font-size: 62.5%;
}
body {
  background-color: grey;

}

  table, th, td{
    border:1px solid black;
    }


    
    /* Hier is de menu navigatie bar*/
    
    body {
      margin:0;
    }
    
    .container {
      display: flex;
      min-height:100px;
    }
    
    .sidebar {
      width: 200px;
      position: relative;
      left: 0;
      background-color: #ccc;
      transition: all .25s;
    }3
    
    
    .sidebar.collapsed {
      left: -200px;
      margin-right: -200px;
    }